<p>
  <%= form.label :agency %>
  <%= form.text_field :agency %>
</p>
<p>
  <%= form.label :organization %>
  <%= form.text_field :organization %>
</p>
<p>
  <%= form.label :address %>
  <%= form.text_field :address %>
</p>
<p>
  <%= form.label :city %>
  <%= form.text_field :city %>
</p>
<p>
  <%= form.label :parish %>
  <%= form.text_field :parish %>
</p>
<p>
  <%= form.label :state %>
  <%= form.text_field :state %>
</p>
<p>
  <%= form.label :zipcode %>
  <%= form.text_field :zipcode %>
</p>
<p>
  <%= form.label :website %>
  <%= form.text_field :website %>
</p>
<p>
  <%= form.label :phone %>
  <%= form.text_field :phone %>
</p>
