<div data-role="page" data-theme="b" id="start-page">
	<header data-role="header"> <h1>My 504HealthNet</h1> </header>

	<div data-role="content">
		<h4>Find Low or No-Cost Community Health Clinics in your neighborhood</h4>
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup" class="insurance-type">
				<legend>I have:</legend>
				<input type="checkbox" name="uninsured" id="uninsured" /><label for="uninsured">No Insurance</label>
				<input type="checkbox" name="medicaid" id="medicaid" /><label for="medicaid">Medicaid</label>
				<input type="checkbox" name="gnochc" id="gnochc" /><label for="gnochc">GNOCHC</label>
				<input type="checkbox" name="private" id="private"/><label for="private">Commercial (Blue Cross, United)</label>
			</fieldset>
		</div>
		
		<p>Please provide a location:<br/>
			(Any address will do)
		</p>
		<button name=geolocate title="Geolocate" data-role=button data-icon=star data-inline=true>Find My Location</button>
		<fieldset class=origin>
			<label>Street Address: <input name="street" /></label>
			<label>City: <input name="city" value="New Orleans" /></label>
		</fieldset>
		
		<button data-role=button type="submit">Go!</button>

	</div>
	<%= render :partial => 'shared/footer' %>
</div>

<%= render :partial => 'details_page' %>
<%= render :partial => 'results_page' %>

<%= content_for :head do %>
	<% # Use the hardcoded JSON if the PROVIDER table has not been loaded. 
	   # TODO: Remove this once everyone has migrated to the db-provisioned version. -rcs %>
	<% if @providers.nil? || @providers.empty? %>
		<%= render :partial => 'shared/hackathon-data2' %>
	<% else%>
		<script>
			//<![CDATA[
				window.Application = window.Application || {};
				$.extend(window.Application, {
					clinics: <%= raw providers_to_json(@providers) %>
							});
						//]]>
		</script>
		<% end %>
<% end %>
