<!DOCTYPE html>
<html>
  <head>
    <title>504HealthNet Care Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <%= stylesheet_link_tag "application", :media => "all" %>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile.structure-1.0.1.min.css" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=<%= NolahealthMobile::Application.config.gmaps_api_key %>&sensor=true"></script>
    <%= javascript_include_tag "application" %>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>

    <%= csrf_meta_tags %>
    <%= render :partial => 'shared/hackathon-data2' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
